<div class="container">

  <img src="assets/img/logo.png" routerLink="/auth/login" alt="">

  <div>Create Account</div>

  <form class="form" action="form" [formGroup]="registro" (ngSubmit)="handleRegister()">
    <mat-form-field class="full-width">
      <mat-label>First Name</mat-label>
      <input matInput placeholder="insert an email" formControlName="firstName">
    </mat-form-field>

    <mat-form-field class="full-width">
      <mat-label>Last Name</mat-label>
      <input matInput  placeholder="Insert your password" formControlName="lastName">
    </mat-form-field>

    <mat-form-field class="full-width">
      <mat-label>Email</mat-label>
      <input matInput type="email" placeholder="insert an email" formControlName="email">
    </mat-form-field>

    <mat-form-field class="full-width">
      <mat-label>Password</mat-label>
      <input matInput type="password" placeholder="Insert your password" formControlName="password">
    </mat-form-field>

    <mat-form-field class="full-width">
      <mat-label>Confirm Password</mat-label>
      <input matInput type="password" placeholder="Insert your password" formControlName="confirmPassword">
    </mat-form-field>

    <button mat-raised-button color="#dd0031" type="submit"[disabled]="registro.invalid">Create Account</button>

  </form>

</div>
