


<h4 class="text-center mt-3 mb-3">Seleccione donde fue adquirido</h4>
<div class="d-flex justify-content-center gap-3">

  <mat-card class="example-card">
    <!-- <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Shiba Inu</mat-card-title>
      <mat-card-subtitle>Dog Breed</mat-card-subtitle>
    </mat-card-header> -->
    <img mat-card-image src="assets/img/car1.png" alt="Photo of a Shiba Inu">
    <mat-card-content class="d-flex justify-content-center">
      <p>
        Adquirido en linea
      </p>
    </mat-card-content>
    <mat-card-actions class="d-flex justify-content-center">
      <button mat-button (click)="openModalCar1Form()">Seleccionar</button>
      <!-- <button mat-button>SHARE</button> -->
    </mat-card-actions>
  </mat-card>

  <mat-card class="example-card">
    <!-- <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Shiba Inu</mat-card-title>
      <mat-card-subtitle>Dog Breed</mat-card-subtitle>
    </mat-card-header> -->
    <div class="d-flex justify-content-center">
      <img mat-card-image width="65%" src="assets/img/car2.png" alt="Photo of a Shiba Inu">
    </div>
    <mat-card-content class="d-flex justify-content-center">
      <p>
        Adquirido en aduana
      </p>
    </mat-card-content>
    <mat-card-actions class="d-flex justify-content-center">
      <button mat-button >Seleccionar</button>
      <!-- <button mat-button>SHARE</button> -->
    </mat-card-actions>
  </mat-card>
</div>
